<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Emails</title>
</head>
<body class="bg-dark">
    <div class="col-5 bg-warning rounded mx-auto mt-5 p-5 text-dark">
        <h2 class="text-center text-primary mb-2">EMAIL LIST</h2>
        {% for email in emails %}
            <p class="text-center">{{email.email}}  {{email.created_at}} <a href="/destroy/{{email.id}}" class="text-danger">Delete</a></p>
        {% endfor %}
    </div>
    <div class="col-5 mx-auto">
        <a href="/" class="btn btn-primary text-dark mt-3 ms-1">Home Page</a>
    </div>
</body>
</html>